Test

<hr>
<app-testform (newNoteEvent)="addNote($event)" [name]="name" [num]="num" #formComp></app-testform>
<hr>
<app-testform (newNoteEvent)="addNote($event)" [name]="name" [num]="num" #formComp></app-testform>
<hr>

<!--ngFor & ngIf-->
<ol>
  <li *ngFor="let note of note; odd as isOdd; even as isEven">
    <ng-template [ngIf]="isOdd">
      <span style="color: teal">{{note}}</span>
    </ng-template>
    <ng-template [ngIf]="isEven">
      <span style="color: maroon">{{note}}</span>
    </ng-template>
    <button (click)="deleteNote(note)">X</button>
  </li>
</ol>

<!--ngForOf & ngIf-->
<ol>
  <ng-template ngFor let-note="$implicit" [ngForOf]="note" let-isOdd="odd" let-isEven="even">
    <li>
      <ng-template [ngIf]="isOdd">
        <span style="color: blue">{{note}}</span>
      </ng-template>
      <ng-template [ngIf]="isEven">
        <span style="color: blueviolet">{{note}}</span>
      </ng-template>
      <button (click)="deleteNote(note)">X</button>
    </li>
  </ng-template>
</ol>

<button (click)="formComp.printProfile()">Submit here</button>
